<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mykerchief.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> myKerchief </h3>
    <ul>
      <li> React JS</li>
      <li> Mongo DB</li>
      <li> Rest API</li>
    </ul>
    <p> Reservation app for sports facilities.</p>
    <a class="project-link" href="https://github.com/omkar-79/reservation_app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Varangio.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Varangio </h3>
    <ul>
      <li> React JS </li>
      <li> Mongo DB </li>
      <li> Rest API </li>
    </ul>
    <p>A platform to find team for building cool technical projects.</p>
    <a class="project-link" href="https://github.com/omkar-79/project-teammate">Check it out</a>
  </div>
</div>
