<div class="user-details">
  <h1> Featured Projects </h1>
  <h3> Software Development </h3>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Image" src="{{ "/assets/img/mykerchief.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> myKerchief </h3>
    <ul>
      <li> React JS</li>
      <li> Mongo DB</li>
      <li> Rest API</li>
    </ul>
    <p> Reservation app for sports facilities.</p>
    <a class="project-link" href="https://github.com/omkar-79/reservation_app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class = "pro-image" alt="Image" src="{{ "/assets/img/Varangio.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Varangio </h3>
    <ul>
      <li> React JS </li>
      <li> Mongo DB </li>
      <li> Rest API </li>
    </ul>
    <p>A platform to find team for building cool technical projects.</p>
    <a class="project-link" href="https://github.com/omkar-79/project-teammate">Check it out</a>
  </div>
</div>
<div class="user-details">
  <h3> Machine Learning </h3>
</div>
<div class="user-projects">
  <div class="images-right">
    <img class = "pro-imageml" alt="Image" src="{{ "/assets/img/predictive-maintenance.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predictive Maintenance </h3>
    <ul>
      <li> Supervised Learning</li>
      <li> XG Boost</li>
      <li> Random Forest</li>
    </ul>
    <p> Developed ML models to predict machine breakdown.</p>
    <a class="project-link" href="https://github.com/omkar-79/reservation_app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img class = "pro-imageml" alt="Image" src="{{ "/assets/img/cover-crops.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Crop Recommendation </h3>
    <ul>
      <li> EDA </li>
      <li> RNN </li>
      <li> CNN  </li>
    </ul>
    <p>A deep learning algorithm to recommend crop using Price, Soil properties and Weather data.</p>
    <a class="project-link" href="https://github.com/omkar-79/Crop-recommendation-system-project">Check it out</a>
  </div>
</div>
